* text=auto !eol
/Lisez-moi.txt -text
/apropos.css -text
/apropos.png -text
/apropos_fonctions.php -text
/apropos_pipeline.php -text
contenu/page-apropos.html -text
img/arob.png -text
img/generique.png -text
lang/apropos_en.php -text
lang/apropos_fr.php -text
